:root {
    --black: #241f1f;
    --white: #d3d3d3;
    --g1: linear-gradient(to right, #d0d0d0, #d3d3d3);
    --g2: linear-gradient(to right, #d3d3d3, #cfcfcf);
  }

::-webkit-scrollbar {display: none;}
  img {user-drag: none;-webkit-user-drag: none;user-select: none;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;}

a{
    color: currentColor;
    text-decoration: none;
}

.icons p, .windownav p{
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 400;
}

#recent{
    padding-bottom: 24px;
}

body {
    background: var(--g1);
    background-color: var(--white);
    background-size: cover;
    background-attachment: fixed;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    color: var(--black);
    font-family: 'instrument-serif', serif;
    background-image: radial-gradient(var(--black) 1px, transparent 0);
    background-size: 60px 60px;
}
#macnav{
    width: 100%;
    border-top: solid 1px var(--black);
    background: var(--g1);
    z-index: 99;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

#macnav ul li{
    display: inline-block;
    padding: 12px 24px;
}

.center{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 100vh;
    width: auto;
    text-align: center;
}

#home{
    z-index: -99;
    background: var(--white);
    padding: 24px 68px;
}

p{
    font-family: 'Mona Sans';
    font-weight: 250;
    line-height: 1.2rem;
    font-size: 0.7rem;
}

h2{
    font-size: 20px;
}

h1{
    font-family: 'dreamer', sans-serif;
    font-size: 80px;
}

h5{
    font-size: 35px;
    line-height: 24px;
    float: left;
}

h4{
    font-size: 10px;
    padding-right: 4px;
    height: 24px;
    padding-top: 16px;
    float: left;
}

#game{
    width: 600px;
}


.item{
    float: left;
    font-family: 'instrument-serif', serif;
    text-transform: lowercase;
    padding-right: 12px;
}

#game .windowcontent .dressup-text{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 72%;
}

#about .windowcontent{
    padding: 32px;
    width: 460px;
}
.about-img img{
    width: 108px;
}

h6{
    font-size: 12px;
    font-family: 'Mona Sans', sans-serif;
    font-weight: 200;
    line-height: 1.2rem;
}

h3{
    font-family: 'instrument-serif', serif;
    font-weight: 400;
    line-height: 2rem;
    font-size: 1.4rem;
    border-bottom: dotted 1px var(--black);
}

#resume .windowcontent{
    padding: 32px;
    width: 600px;
}

.role{
    font-weight: 400;
}

.resume-item{
    padding: 8px 0px;
}

.about-text{
    border-bottom: dotted 1px var(--black);
    padding-bottom: 24px;
}

.links{
    padding-top: 24px;
}

.links i{
    width: 16px;
    opacity: 0.8;
}

.dressup-section{
    padding: 32px;
    border-bottom: dotted 1px var(--black);
}

.window{
    background-color: var(--white);
    background: var(--g1);
    border: solid 1px var(--black);
    border-radius: 8px;
    position: relative;
    position: absolute;
    transform: scale(0);
    transition: transform 0.2s ease-out;
    width: fit-content;
    box-shadow: 4px 12px 40px #241f1f14;
}


.dress-up img{
    position: absolute;
    height: 60vh;
    box-sizing: border-box;
    right: 0;
    padding-bottom: 8px;
}

.icons{
    margin: 24px;
}

.icons .row{
    display: block;
    float: none;
    width: 80px;
    text-align: center;
    float: right;
    padding: 12px 12px;
    margin-right: 12px;
    background: var(--white);
}

.icons img{
    float: none;
    display: block;
    text-align: center;
    padding-bottom: 8px;
    width: 100%;
}

.clear{
    clear: both;
    float: none;
}

.windownav{
    height: 32px;
    width: 100%;
    border-bottom: solid 1px var(--black);
    display: flex;
    justify-content: space-between;
    background: var(--gradient);
}

ul:first-of-type{
    border-right: solid 1px var(--black);
}

ul:last-of-type{
    border-left: solid 1px var(--black);
}

.windownav *{
    line-height: 32px;
    padding: 0px 6px;
}

.windownav p{
    padding: 0px 10px;
}

.windownav i{
font-size: 12px;
line-height: 24px;
}

.x{
    border-left: solid 1px var(--black);
}
#laptop{
    display: block;
}



#no-laptop{
    display: none;
    overflow: hidden;
    background-color: #D0CFD0;
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(var(--black) 0.5px, transparent 0);
    background-size: 40px 40px;
}


.mobile-container{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 0.5px var(--black);
    border-radius: 8px;
    background-color: #D0CFD0;
    box-shadow: 4px 12px 40px #241f1f14;
}

#no-laptop *{
    text-align: center;
}

#no-laptop .intro{
    justify-content: space-between;
    padding: 12px;
}

#no-laptop h1{
    font-size: 32px;
    letter-spacing: 0.08rem;
    padding-bottom: 4px;
}


.mobile-img img{
    width: 100%;
    border-top: solid 0.5px var(--black);
    border-bottom: solid 0.5px var(--black);
}

#no-laptop p{
    line-height: 0.7rem;
    font-size: 0.6rem;
    font-weight: 300;
}

.mobile-links{
    display: flex;
    justify-content: space-between;
}

.laptop-links{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.laptop-links a i{
    font-size: 1.2rem;
    padding: 12px;
    padding-top: 24px;
}

#no-laptop i{
    height: 100%;
    font-size: 20px;
    padding: 12px;
}



@media screen and (pointer:none),
(pointer:coarse) and (min-width: 768px) and (max-width: 2000px) {

    #no-laptop {
        display: block;
    }

    #laptop{
        display: none;
    }

    p{
        font-family: 'Mona Sans';
        font-weight: 250;
        line-height: 2rem !important;
        font-size: 1.6rem !important;
    }

    h2{
        font-size: 20px;
    }

    h1{
        font-family: 'dreamer', sans-serif;
        font-size: 120px !important;
    }

    .mobile-links a i{
        font-size: 2.8rem !important;
        padding: 24px !important;
    }

    .mobile-container{
        width: 80%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: solid 0.5px var(--black);
        border-radius: 8px;
        background-color: #D0CFD0;
        box-shadow: 4px 12px 40px #241f1f14;
    }
}

@media screen and (pointer:none),
(pointer:coarse) and (min-width: 0px) and (max-width: 767px) {

    #no-laptop {
        display: block;
    }

    #laptop{
        display: none;
    }

    p{
        font-family: 'Mona Sans';
        font-weight: 250;
        line-height: 1.2rem;
        font-size: 0.7rem;
    }

    h2{
        font-size: 20px;
    }

    h1{
        font-family: 'dreamer', sans-serif;
        font-size: 80px;
    }

}


@media only screen and (orientation: landscape){
    .mobile-container{
        width: 60%;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        border: solid 0.5px var(--black);
        border-radius: 8px;
        background-color: #D0CFD0;
        box-shadow: 4px 12px 40px #241f1f14;
        margin-top: 24px;
    }

    #no-laptop{
        display: block;
        overflow: scroll;
        background-color: #D0CFD0;
        width: 100%;
        height: auto;
        background-image: radial-gradient(var(--black) 0.5px, transparent 0);
        background-size: 40px 40px;
    }
}
