/* crt filter */
.crt::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.03));
        z-index: 400;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
  @keyframes flicker {
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.10626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.10626;
    }
    30% {
    opacity: 0.18128;
    }
    35% {
    opacity: 0.23604;
    }
  }
  .crt::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.02);
    opacity: 0;
    z-index: 400;
    pointer-events: none;
    animation: flicker 0.2s infinite;
  }

html {
    scroll-behavior: smooth !important;
    cursor: url(../imgs/cursors/default.cur), auto;
    font-family: "rhythm heaven", serif;
}
a:hover{
    cursor: url(../imgs/cursors/pointer.cur), pointer;
}
input:hover, textarea:hover{
    cursor: url(../imgs/cursors/text.cur), text;
}
input[type=submit]{
    cursor: url(../imgs/cursors/pointer.cur), pointer;
}
body{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#left-screen, #right-screen{

    float: left;
    background: pink;
    height: 40vh;
    aspect-ratio: 192 / 256;
    padding: 24px;
box-sizing: border-box;
}
#right-screen{
    background: red;
}

.clear{
    float: none;
    clear: both;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
a {
    color: currentColor;
    text-decoration: none;
}

h2{
    text-transform: uppercase;
    font-size: 1.2rem;
}


#rhythmring *{
    color: black;
    fill: black;
    font-size: 10px;
    text-align: center;
}

#rhythmring{
    width: min-content;
    min-width: min-content;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
}

#rhythmring a:hover{
    text-decoration:underline;
}

#rhythmring-img{
    content:url("http://imgur.com/SZ8Cm.jpg");
}

@media screen and (pointer:none),
(pointer:coarse) and (min-width: 0px) and (max-width: 767px) {

    #no-laptop {
        display: block;
    }

    #laptop {
        display: none;
    }

}
@media only screen and (pointer:none),
(pointer:coarse) and (orientation: landscape) {
    #laptop {
        display: none;
    }

    #no-laptop {
        display: block;
    }
}
